@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --theme: hsl(199, 86%, 6%);
  --black: hsl(from var(--theme) h 30 3);
  --white: hsl(from var(--theme) h 20 95);
}

html,
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: hsl(177, 50%, 95%);
  background-color: var(--black);
}

a {
  color: hsl(from var(--theme) h s 50);
  transition: 0.5s all ease;
}

a:hover,
a:focus,
a:active {
  color: hsl(from var(--theme) h s 75);
}

#root {
  position: relative;
  overflow-x: hidden;
  background-color: hsl(from var(--theme) h 86 6);
}

.main-container {
  display: flex;
  justify-content: center;
}
.container {
  width: 990px;
  max-width: 95%;
}
